[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-exporter = {path = "./plugins/mkdocs-exporter"}
mkdocs-material = "*"
pymdown-extensions = "*"

[dev-packages]

[requires]
python_version = "3.11"
