[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
beautifulsoup4 = "*"
weasyprint = "*"
lxml = "*"
libsass = "*"

[dev-packages]
mkdocs = "*"

[requires]
python_version = "3.11"
