:root {
  --width: 21cm;
  --margin: 1.20cm;
  --height: 29.7cm;
  --offset: calc(var(--margin) * 2);
}

@page {
  size: A4;
  margin: 1.20cm;

  @top-center {
    content: 'Hello world!';
  }
}

@page :first {
  margin: 0;
  background: #2e4954;

  @top-center {
    content: none;
  }

  @bottom-center {
    content: none;
  }
}

@page back {
  margin: 0;
  background: #000;
}

.front-cover {
  margin: var(--margin);
  height: calc(var(--height) - var(--offset));
  page-break-after: always;
  border: 1px solid #fff;

  > img {
    position: absolute;
    bottom: 0;
    height: 26cm;
    right: 2.5cm;
    image-rendering: crisp-edges;
  }

  > section {
    color: #fff;
    padding: 0.25in;
    max-width: 10.25cm;
    word-wrap: break-word;
    margin-top: calc(var(--height) / 2 - var(--offset) - 2cm);
    font-size: 13pt;

    > .title {
      font-size: 26pt;
      font-weight: 500;
      color: #fff;
    }

    > .authors {
      color: #ddd;
      margin-top: 0;
    }
  }
}

.back-cover {
  page: back;
}

h1, h2, h3 {
  string-set: chapter content();
}

body {
  print-color-adjust: exact;
}

.md-main .md-main__inner {
  margin: 0;
}

.md-content .md-content__inner {
  margin: 0;
  padding: 0;

  &::before {
    height: 0;
  }
}
