<style data-teleport="head">
  .front-cover {
    margin: var(--margin);
    height: calc(var(--height) - var(--offset));
    page-break-after: always;
    border: 1px solid #fff;
    position: relative;
  }

  .front-cover img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    image-rendering: optimizeQuality;
  }

  .front-cover section {
    color: #fff;
    padding: 0.635cm;
    max-width: 10.25cm;
    word-wrap: break-word;
    margin-top: calc(var(--height) / 2 - var(--offset) - 2cm);
    font-size: 13pt;
  }

  .front-cover section > .title {
    font-size: 26pt;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    string-set: title content(text);
  }

  @page {
    @top-center {
      font-size: 9pt;
      color: #7f7f7f;
      content: '{{ config.site_name }}' ' — ' string(title);
    }

    @bottom-center {
      font-size: 9pt;
      color: #7f7f7f;
      content: 'Page ' counter(page) ' of ' counter(pages);
    }
  }

  @page :first {
    margin: 0;
    background: var(--md-primary-fg-color);

    @top-center {
      content: none;
    }

    @bottom-center {
      content: none;
    }
  }
</style>
<div class="front-cover">
  <img src="/assets/images/background.png">
  <section>
    <div class="brand">{{ config.site_name }}</div>
    <div class="title">{{ page.title }}</div>
  </section>
</div>
