<style data-teleport="head">
  @page {
    @bottom-center {
      content: '{{ page.title }}';
    }
  }

  @page :first {
    margin: 0;
  }
</style>
<div class="front-cover">
  <img src="/images/background.png">
  <section>
    <div class="title">{{ page.title }}</div>
    <div class="authors">John Doe</div>
  </section>
</div>
